
.external {
    background-color: 	#333333;
    color: white;
    padding: 20px 0;
    margin: 20px 0 0 0;
    font-weight: 600;
  }

.external-links-button {
  background-color: #007549;
  border-color: #007549;
}

.external-links-button:hover {
  background-color: #005736;
  border-color: #005736;
}
.external-links-yellow-button{
  background-color: #ca9e00;
  border-color: #ca9e00;
  color: #3B424C;
}
.external-links-yellow-button:hover {
  background-color: #a28006;
  border-color: #a28006;
  color : #3B424C;
}

.external-button {
  margin: 10px 0;
}

.external-row {
  justify-content: center;
}