.footer {
	background-color: #005E90;
	color: white;
	padding: 40px 0;
	font-family: "Montserrat", sans-serif;
}

.footer-title {
	font-weight: 5 00;
	font-size: 18px;
	text-transform: uppercase;
	padding: 20px 0px;
}

.footer a{
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: lighter !important;
}

.footer a:hover{
	color: white;
	font-weight: lighter !important;
}

.footer-list {
	display: block;
}

.footer2 {
	text-align: center;
	padding: 40px 10px;
	background-color: #333333;
}

.footer2 img {
	padding: 0 30px;
}

.footer3 {
	padding: 10px 0;
	font-family: "Montserrat", sans-serif;
	font-size: 10.5px;
	color: white;
	background-color: #191919;
}

.footer3 a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.footer3 p {
	margin: 0;
}