.prefooter {
	background-color: #F6F6F6;
	font-family: "Montserrat", sans-serif;
	padding: 20px 0;
	color: #3b424c;
}

.prefooter-titles {
	font-weight: 500;
}

.prefooter-span {
	padding: 5px;
	font-weight: 200;
	font-size: 12px;
}

.socialmedia {
	margin: 10px 10px 0px 0px;
	font-size: 25px;
}

.socialmedia-div {
	padding: 10px 0;
}

a{
	text-decoration: none;
	color: #3b424c;
}