.prefooter {
	background-color: #F6F6F6;
	font-family: "Montserrat", sans-serif;
	margin: 20px 0 0px 0;
	padding: 20px 0;
	color: #3b424c;
}

.prefooter-titles {
	font-weight: 500;
}

.prefooter-span {
	padding: 5px;
	font-weight: 200;
	font-size: 12px;
}

.socialmedia {
	margin-right: 5px;
}